body {
    background-image: url("../images/background.png");
    width: 960px;
    height: auto;
    margin: auto;
}
h1 {
    background-color: #324144;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #ffffff;
    padding: 50px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;

}
p {
    font-size: 24px;
    color: black;
}

li {
    list-style: none;
    text-align: left;
    vertical-align: middle;
    margin: auto;
}
.quizContainer {
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    align-content: center;
}

button {
    background-color: #324144;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
img {
    width: 400px;
    height: auto;
}
input {
    display: inline-block;
}
.choiceList {
    text-align: center;
    margin-left: 320px;
}
.question {
    padding: 20px;
    font-size: 26px;
}
#start-button {
    font-size: 36px;
    margin-top: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}